body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
	margin:auto;
    display: flex;
	flex-wrap: wrap;
}

header{
	background-color: #24262b;
    padding: 1em 0;
}

header a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

header a:hover{
	color: #ffffff;
	padding-left: 8px;
}

aside {
    width: 65%;
    float: right;
	height: 100%;
}

.map {
	height: 500px;
}

.card-container {
    height: 100%;
}

.card {
	height : 50%;
}

.data-object-container:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.data-object-container {
	width: 400px; /*1*/
	margin: 0px auto; /*2*/
	background-color: white; /*3*/
	box-shadow: 0px 5px 20px #999; /*4*/
}
  
.data-container {
	width: 35%;
	float: left;
	height: 90vh;
}

.station-data {
	background-color: #dee;
    max-height: 80%;
    overflow-y: scroll;
}